<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="mb-3">
        <img src="/secure-icon.png" alt="icon" width="20%" />
      </h1>
      <h2>Login</h2>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"  <%# Whatever the user types in the 'email' box will be stored in the 'email' variable%>
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password" <%# Whatever the user types in the 'password' box will be stored in the 'password' variable%>
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <%# When the user clicks 'login', there will be a POST request sent to /auth/login (check the <form action="/auth/login" method="POST"> above %>
        <%# It will call the POST request inside the 'authRoute.js file. the post code will be triggered. (router.post()) %>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="mt-4">New User? <a href="/auth/register">Register</a></p>
      <p>Forgot Password? <a href="/auth/forgot">Reset</a></p>
    </div>
  </div>
</div>
