<div class="container">
    <% if (message) { %>
      <div class="alert alert-<%= messageType %> text-center"><%= message %></div>
    <% } %>
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h2>Reset Password</h2>
          <form action="/auth/reset-password" method="POST">
            <input type="hidden" name="email" value="<%= email %>" />
            <div class="form-group">
              <label for="password">Enter your new password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter New Password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Update Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  